.desktop {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .desktop .div {
    background-color: #ffffff;
    height: 1024px;
    overflow: hidden;
    position: relative;
    width: 1440px;
  }
  
  .desktop .overlap {
    background-color: #2cc67c;
    height: 67px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1440px;
  }
  
  .desktop .group {
    height: 32px;
    left: 1162px;
    position: absolute;
    top: 29px;
    width: 197px;
  }
  
  .desktop .overlap-group {
    background-color: #543111;
    border-radius: 15px;
    height: 29px;
    left: 82px;
    position: absolute;
    top: 1px;
    width: 61px;
  }
  
  .desktop .text-wrapper {
    color: #ffffff;
    font-family: "Outfit-Regular", Helvetica;
    font-size: 18px;
    font-weight: 400;
    left: 7px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 2px;
    width: 51px;
  }
  
  .desktop .overlap-2 {
    height: 29px;
    left: 0;
    position: absolute;
    top: 1px;
    width: 75px;
  }
  
  .desktop .rectangle {
    background-color: #2dc77d;
    border: 1px solid;
    border-color: #543111;
    border-radius: 15px;
    height: 29px;
    left: 0;
    position: absolute;
    top: 0;
    width: 71px;
  }
  
  .desktop .text-wrapper-2 {
    color: #543111;
    font-family: "Outfit-Regular", Helvetica;
    font-size: 18px;
    font-weight: 400;
    left: 8px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 2px;
    width: 67px;
  }
  
  .desktop .group-2 {
    height: 32px;
    left: 157px;
    position: absolute;
    top: 0;
    width: 36px;
  }
  
  .desktop .overlap-group-2 {
    height: 25px;
    left: 0;
    position: absolute;
    top: 0;
    width: 36px;
  }
  
  .desktop .img {
    height: 14px;
    left: 8px;
    position: absolute;
    top: 4px;
    width: 23px;
  }
  
  .desktop .line {
    height: 24px;
    left: 0;
    position: absolute;
    top: 0;
    width: 7px;
  }
  
  .desktop .line-2 {
    height: 2px;
    left: 5px;
    position: absolute;
    top: 23px;
    width: 31px;
  }
  
  .desktop .ellipse {
    background-color: #543111;
    border-radius: 2.43px/2.39px;
    height: 5px;
    left: 8px;
    position: absolute;
    top: 27px;
    width: 5px;
  }
  
  .desktop .ellipse-2 {
    background-color: #543111;
    border-radius: 2.43px/2.39px;
    height: 5px;
    left: 29px;
    position: absolute;
    top: 27px;
    width: 5px;
  }
  
  .desktop .text-wrapper-3 {
    color: #543111;
    font-family: "Outfit-SemiBold", Helvetica;
    font-size: 28px;
    font-weight: 600;
    left: 50px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 27px;
    width: 225px;
  }
  
  .desktop .text-wrapper-4 {
    color: #543111;
    font-family: "Outfit-Regular", Helvetica;
    font-size: 18px;
    font-weight: 400;
    left: 932px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 33px;
    width: 64px;
  }
  
  .desktop .price-for-service {
    color: #543111;
    font-family: "Outfit-Regular", Helvetica;
    font-size: 18px;
    font-weight: 400;
    left: 1012px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 32px;
    width: 140px;
  }
  
  .desktop .overlap-3 {
    background-image: url(./rectangle-196.svg);
    background-size: 100% 100%;
    height: 667px;
    left: 0;
    position: absolute;
    top: 67px;
    width: 1440px;
  }
  
  .desktop .rectangle-2 {
    height: 667px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1440px;
  }
  
  .desktop .rectangle-3 {
    height: 51px;
    left: 275px;
    position: absolute;
    top: 335px;
    width: 363px;
  }
  
  .desktop .YOUR-COFFEE-YOUR-WAY {
    color: #543111;
    font-family: "Caveat-Regular", Helvetica;
    font-size: 70px;
    font-weight: 400;
    left: 225px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 129px;
    width: 548px;
  }
  
  .desktop .image {
    height: 468px;
    left: 823px;
    object-fit: cover;
    position: absolute;
    top: 28px;
    width: 478px;
  }
  
  .desktop .text-wrapper-5 {
    color: #ffffff;
    font-family: "Outfit-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 399px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 346px;
    width: 138px;
  }
  
  .desktop .line-3 {
    height: 2px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 7px;
    width: 1432px;
  }
  
  .desktop .image-2 {
    height: 644px;
    left: 18px;
    object-fit: cover;
    position: absolute;
    top: 23px;
    width: 1422px;
  }
  
  .desktop .text-wrapper-6 {
    color: #000000;
    font-family: "Caveat-Regular", Helvetica;
    font-size: 64px;
    font-weight: 400;
    left: 143px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 954px;
    width: 164px;
  }
  
  .desktop .text-wrapper-7 {
    color: #000000;
    font-family: "Caveat-Regular", Helvetica;
    font-size: 64px;
    font-weight: 400;
    left: 659px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 954px;
    width: 87px;
  }
  
  .desktop .text-wrapper-8 {
    color: #000000;
    font-family: "Caveat-Regular", Helvetica;
    font-size: 64px;
    font-weight: 400;
    left: 1101px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 954px;
    width: 164px;
  }